/* Define CSS variables for the default screen size */
:root {
    --closeable-size: 10px;
    --pullout-width: 250px;
    --pullout-height: 30px;
    --h1-font-size: 85px;
    --h2-font-size: 30px;
    --slide-content-padding: 20px;
    --link-underscore-offset: 3px;
    --social-link-offset: 15px;
    --circle-size-1: 50px;
    --circle-size-2: 100px;
    --circle-size-3: 200px;
    --circle-size-4: 400px;
    --circle-size-5: 800px;
    --circle-size-6: 1200px;
    --circle-radius-1: calc(var(--circle-size-1) / 2);
    --circle-radius-2: calc(var(--circle-size-2) / 2);
    --circle-radius-3: calc(var(--circle-size-3) / 2);
    --circle-radius-4: calc(var(--circle-size-4) / 2);
    --circle-radius-5: calc(var(--circle-size-5) / 2);
    --circle-radius-6: calc(var(--circle-size-6) / 2);
}

/* Media query for screens smaller than 1080px */
@media (max-width: 2000px) {
    :root {
        --closeable-size: 8px;
        --pullout-width: 145px;
        --pullout-height: 20px;
        --h1-font-size: 55px;
        --h2-font-size: 20px;
        --slide-content-padding: 10px;
        --social-link-offset: 10px;
        --link-underscore-offset: 2px;
        --circle-size-1: 30px;
        --circle-size-2: 60px;
        --circle-size-3: 120px;
        --circle-size-4: 240px;
        --circle-size-5: 480px;
        --circle-size-6: 720px;
        --circle-radius-1: calc(var(--circle-size-1) / 2);
        --circle-radius-2: calc(var(--circle-size-2) / 2);
        --circle-radius-3: calc(var(--circle-size-3) / 2);
        --circle-radius-4: calc(var(--circle-size-4) / 2);
        --circle-radius-5: calc(var(--circle-size-5) / 2);
        --circle-radius-6: calc(var(--circle-size-6) / 2);
    }
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    :root {
        --closeable-size: 6px;
        --pullout-width: 90px;
        --pullout-height: 25px;
        --h1-font-size: 30px;
        --h2-font-size: 10px;
        --slide-content-padding: 5px;
        --social-link-offset: 5px;
        --link-underscore-offset: 1px;
        --circle-size-1: 15px;
        --circle-size-2: 30px;
        --circle-size-3: 60px;
        --circle-size-4: 120px;
        --circle-size-5: 240px;
        --circle-size-6: 360px;
        --circle-radius-1: calc(var(--circle-size-1) / 2);
        --circle-radius-2: calc(var(--circle-size-2) / 2);
        --circle-radius-3: calc(var(--circle-size-3) / 2);
        --circle-radius-4: calc(var(--circle-size-4) / 2);
        --circle-radius-5: calc(var(--circle-size-5) / 2);
        --circle-radius-6: calc(var(--circle-size-6) / 2);
    }
}

.circle-base {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    transition: transform 0.5s ease; /* Add a transition for transform property */
}

.circle-1 {
    width: var(--circle-size-1);
    height: var(--circle-size-1);
    -webkit-border-radius: var(--circle-radius-1);
    -moz-border-radius: var(--circle-radius-1);
    box-shadow: 0px calc(var(--circle-size-1) / 10) calc(var(--circle-size-1) / 5) rgba(0, 0, 0, 0.3);
    border-radius: var(--circle-radius-1);
}

.circle-2 {
    width: var(--circle-size-2);
    height: var(--circle-size-2);
    -webkit-border-radius: var(--circle-radius-2);
    -moz-border-radius: var(--circle-radius-2);
    box-shadow: calc(var(--circle-size-2) / 50) calc(var(--circle-size-2) / 10) calc(var(--circle-size-2) / 5) rgba(0, 0, 0, 0.3);
    border-radius: var(--circle-radius-2);
}

.circle-3 {
    width: var(--circle-size-3);
    height: var(--circle-size-3);
    -webkit-border-radius: var(--circle-radius-3);
    -moz-border-radius: var(--circle-radius-3);
    border-radius: var(--circle-radius-3);
    box-shadow: calc(var(--circle-size-3) / 100) calc(var(--circle-size-3) / 20) calc(var(--circle-size-3) / 10) rgba(0, 0, 0, 0.3);
    flex-shrink: 0; /* Prevent stretching */
}

.circle-4 {
    width: var(--circle-size-4);
    height: var(--circle-size-4);
    -webkit-border-radius: var(--circle-radius-4);
    -moz-border-radius: var(--circle-radius-4);
    border-radius: var(--circle-radius-4);
    box-shadow: calc(var(--circle-size-4) / 200) calc(var(--circle-size-4) / 40) calc(var(--circle-size-4) / 20) rgba(0, 0, 0, 0.3);
    flex-shrink: 0; /* Prevent stretching */
}

.circle-5 {
    width: var(--circle-size-5);
    height: var(--circle-size-5);
    -webkit-border-radius: var(--circle-radius-5);
    -moz-border-radius: var(--circle-radius-5);
    border-radius: var(--circle-radius-5);
    box-shadow: calc(var(--circle-size-4) / 400) calc(var(--circle-size-4) / 80) calc(var(--circle-size-4) / 40) rgba(0, 0, 0, 0.3);
    flex-shrink: 0; /* Prevent stretching */
}

.circle-6 {
    width: var(--circle-size-6);
    height: var(--circle-size-6);
    -webkit-border-radius: var(--circle-radius-6);
    -moz-border-radius: var(--circle-radius-6);
    border-radius: var(--circle-radius-6);
    box-shadow: calc(var(--circle-size-4) / 600) calc(var(--circle-size-4) / 120) calc(var(--circle-size-4) / 60) rgba(0, 0, 0, 0.3);
    flex-shrink: 0; /* Prevent stretching */
}

.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-span {
    color: black;
}

.slide-container-left {
    position: fixed;
    top: 0;
    left: -20%; /* Start off-screen to the left */
    width: 20%;
    height: 100%;
    transition: left 0.5s ease-in-out; /* Smooth transition when sliding in */
}

.slide-container-right {
    position: fixed;
    top: 0;
    right: -20%; /* Initially, 20% off-screen to the right */
    width: 20%; /* Occupies 20% of the viewport width */
    height: 100%;
    transition: right 0.5s ease-in-out; /* Transition on the right property */
}

.slide-content {
    padding: var(--slide-content-padding)
}

body {
    background: url('media/snow-winter-new.gif') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(17, 3, 15, 0.8), rgba(35, 1, 30, 0.95));
}

.main-color {
    background: linear-gradient(to top, #65185a, #440f3b);
}

.secondary-color {
    background: linear-gradient(to top, rgba(138, 18, 118, 1), rgba(120, 21, 131, 1));
}

.secondary-to-left {
    background: linear-gradient(to left, rgba(138, 18, 118, 0), rgba(120, 21, 131, 1));
}

.secondary-to-right {
    background: linear-gradient(to right, rgba(138, 18, 118, 0), rgba(120, 21, 131, 1) );
}

.social-link {
    margin: 0 var(--social-link-offset);
}

.links-container {
    display: flex;
    justify-content: center;
}

.links-container a {
    margin: 0 var(--social-link-offset);
    text-decoration: none;
    color: black;
    position: relative;
}

.links-container a::before {
    content: "";
    position: absolute;
    width: 0;
    /* Dynamically sized based on --social-link-offset*/
    height: calc(var(--social-link-offset) / 5);
    bottom: calc(-1 * var(--social-link-offset));
    left: 50%;
    background-color: black;
    transition: all .3s ease-in-out;
}

.links-container a:hover::before {
    width: 100%;
    left: 0;
}

.links-container a:hover {
    color: black;
    transition: color .3s ease-in-out;
}

.social-icon{
    object-fit: cover;
}

.social-icon:hover{
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
}

.social-icon::after{
    /* softly transition scale back to 1.0 over .3s */
    transition: transform .3s ease-in-out;
}

h1 {
    font-weight: bold;
    font-size: var(--h1-font-size);
}

h2 {
    font-weight: bold;
    font-size: var(--h2-font-size);
}

/* Style for the close-able div container */
.closeable-div {
    position: absolute;
    top: var(--closeable-size); /* Adjust the top position as needed */
    left: var(--closeable-size); /* Adjust the left position as needed */
    padding: var(--closeable-size);
    border: calc(var(--closeable-size) / 3) solid #23021d;
    font-size: large;
    border-radius: calc(var(--closeable-size) / 2);
    box-shadow: calc(var(--closeable-size) / 3) calc(var(--closeable-size) / 3)calc(var(--closeable-size) / 2) rgba(0, 0, 0, 0.2);
}

/* Style for the close button (×) */
.close-button {
    position: absolute;
    top: calc(var(--closeable-size) / 2);
    right: calc(var(--closeable-size) / 2);
    cursor: pointer;
    font-size: var(--h2-font-size);
    color: #555;
}

/* Hover effect for the close button */
.close-button:hover {
    color: rgb(199, 34, 218);
}

/* Style for the pullout divs */
.pullout-div {
    position: absolute;
    text-align: center;
    border-image: linear-gradient(#8b1d77 100%, #5c0f4a 1%);
    border-radius: var(--link-underscore-offset);
    padding: var(--pullout-width / 5); /* Adjust the padding as needed */
    height: var(--pullout-height); /* Adjust the height as needed */
    width: var(--pullout-width); /* Adjust the width as needed */
    left: 50%; /* Horizontally center the div */
    transform: translateX(-50%), translateY(-50%); /* Horizontally center the div */
    top: 50%; /* Vertically center the div */
    opacity: 1; /* Initially hidden */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 2; /* Move the div behind the circles */
    font: (--h2-font-size) Arial, sans-serif;
    font-weight: bold;
}

.pullout-span {
    /* Center text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the pullout div on the left */
.pullout-div-left {
    left: 0; /* Move the div to the left edge of the circle */
    transform: translateX(-100%); /* Move it off-screen to the left */
    /* Move Items in the div to the right */
    flex-direction: row-reverse;
    /* Center text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the pullout div on the right */
.pullout-div-right {
    right: 0; /* Move the div to the right edge of the circle */
    transform: translateX(100%); /* Move it off-screen to the right */
    /* Move Items in the div to the left */
    flex-direction: row;
    /* Center text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hover effect to show the pullout divs */
.slide-content:hover .pullout-div {
    opacity: 0; /* Hide the div on hover */
}